*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 20px;
}

.navigation-bar
{
    position: fixed;
    top: 0px;
    width: 100%;
    background-image: linear-gradient(to right ,rgb(199, 199, 246),rgb(106, 106, 159) );
}
 .chara{
    font-size: 40px;
    color: rgb(7, 18, 52);
 }

 .navbar-brand{
    font-weight: bolder;
    color: white !important;
 }

 .ramesh{
    font-weight: bolder;
    color: black !important;
 }

 .a3{
    width: 100%;
    height: 600px;
    position: relative;
    top: 50px;
    background-color: grey;
 }

img{
   height: 300px;
   width: 500px;
   /* background-image: url("https://img.freepik.com/free-vector/watercolor-nature-background-with-leaves_52683-59449.jpg?w=2000"); */
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex; 
   align-items: center;
   justify-content: center;
 }

.gifs{
   position: absolute;
   top: 20%;
   left: 33%;
}
.gifs h1{
   margin-bottom: 25px;
   font-style: italic;
   font-weight: bolder;
}

.data-main{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.user-info{
    width: 1000px;
    height: 500px;
    background-color: rgb(235, 217, 217);
    padding: 20px;
}
label{
    font-weight: bolder;
    font-size: 20px;
}
.student-table{
    margin: 80px;
    margin-left: 260px;
    width: 1000px;
    height: 500px;
    background-color: rgb(207, 207, 201);
}
.form-control{
   height: 30px;
   width: 80%;
}